<!DOCTYPE HTML>
<html>
<head>
   <!--  <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="mouseover-popup/style.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/mouseover_popup.js"></script>

</head>

<body>
    <div>
        <div align="center" id="dragtarget">
            <img src="images/The Prestige (2006).jpg" onClick=select()>
            <img src="images/The Illusionist (2006).jpg" onClick=select()>
            <img src="images/James Bond Die Another Day (2002).jpg" onClick=select()>
            <img src="images/James Bond Casino Royale (2006).jpg" onClick=select()>
            <img src="images/Alien Directors Cut (1979).jpg" onClick=select()>
            <img src="images/2001 A Space Odyssey (1968).jpg" onClick=select()>
            <img src="images/Rocky (1976).jpg" onClick=select()>
            <img src="images/Rocky III (1982).jpg" onClick=select()>
        </div>
    </div>
    <div align="center" >  
        <div id='target' align="center" class="droptarget"></div>
    </div>
    <div align="center" width='1200px'>
        <input type=button onClick=timer() value='Start'>
        <input type=button onClick=addsilent() value='Add silent'>
        <input type=button onClick=adddynamic() value='Add dynamic'>
    </div>
    <!-- <div id='msg'></div> -->


    <form name="Show">
        <input id="X"type="text" name="MouseX" value="0" size="10"> Frame number<br>
        <input type="text" name="MouseY" value="0" size="10"> Height<br>
    </form>


    <div align="center" width='1800px'>
        <div id='moviefingerprint1' class="wave_area">
            
        </div>
    </div>

    <div align="center" width='1200px'>
        <div id='moviefingerprint2' class="wave_area">
        </div>
  
    </div>


    <div align="center" height='2000px'width='1200px'>
        <div id='moviefingerprint3' class="wave_area">
        </div> 
    </div>


    <div id="preview_div">
        
    </div>
</body>