{% extends 'base.html' %}
{% load staticfiles %}


{% block headpart %}
    <script type="text/javascript" src="{% static 'fingerprint/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'fingerprint/js/mouseover_popup.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fingerprint/css/index.css' %}">
    <title>Movie fingerprint</title>
{% endblock %}


{% block featurepage %}
<div class="container main-box">
    <div class="dragtarget">
        <img src="{% static 'fingerprint/images/The Prestige (2006).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/The Illusionist (2006).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/James Bond Die Another Day (2002).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/James Bond Casino Royale (2006).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/Alien Directors Cut (1979).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/2001 A Space Odyssey (1968).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/Rocky (1976).jpg' %}" onClick=select()>
        <img src="{% static 'fingerprint/images/Rocky III (1982).jpg' %}" onClick=select()>
    </div>
    <div id='target' class="droptarget"></div>

    <div class="btn-area">
        <input type="button" class="btn btn-primary" onClick=addsilent() value='Add silent'>
        <input type="button" class="btn btn-primary" onClick=adddynamic() value='Add dynamic'>
        <input type="button" class="btn btn-primary" onClick=timer() value='Start'>
    </div>

    <div id='moviefingerprint1' class="wave_area"></div>
    <div id='moviefingerprint2' class="wave_area"></div>
    <div id='moviefingerprint3' class="wave_area"></div>
    <div id="preview_div"></div>
</div>

<!-- <form name="Show">
<input id="X"type="text" name="MouseX" value="0" size="10">
Frame number
<br>
<input type="text" name="MouseY" value="0" size="10">
Height
<br></form> -->



{% endblock %}
