body {
    background-color: black
}

#logo {
    background-color: transparent;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(3,30,48,0.8);
    border: 0;
    height: 80px;
}

.nav-backhome a {
    font-size: 1.2em;
    color: white !important;
    line-height: 3px !important;
    height: 80px;
}


.navbar-right {
    margin: 0;
    padding: 0;
    line-height: 80px;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    line-height: 80px;
}

.glyphicon-arrow-left {
    font-size: 3em;
}