body {
    background-color: black;
}


/*h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}*/

.research_title {
    text-align: center;
    padding: 20px 0 50px;
}

.custom-row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.custom-jumbotron {
    background-color: #032339;
    border-radius: 30px !important;
}

.feature-box {
    /*background-color: red;*/
    height: 200px;
    width: 100%;
    
}

a {
    display: block;
}

a:hover img:hover {
    cursor: pointer;
    opacity: 0.5;
    /*filter: alpha(opacity=50);*/
}

.feature-box img {
    height: 100%;
    width: 100%;
    border-radius: 5px;

    -moz-transition: opacity .2s cubic-bezier(0.2, 0.4, 0.7, 0.8);
    -webkit-transition: opacity .2s cubic-bezier(0.2, 0.4, 0.7, 0.8);
    transition: opacity .2s cubic-bezier(0.2, 0.4, 0.7, 0.8);
}