.main-box {
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 500px;
    padding: 30px 0 0;
    border-radius: 30px;
    background-color: #032339;
}

.feature-block {
    overflow: hidden;
    padding: 20px 50px 50px;
    border-bottom-style: solid;
    border-bottom-color: #031520;
}

.poster {
    float: left;
    background: black;
    width: 178px;
    height: 270px;

}

.poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.info-detail {
    color: white;
    float: left;
    padding: 0px 30px;
}

.info-detail div {
    overflow: hidden;
    padding-left: 0;
    height: 30px;
    line-height: 30px;
    font-family: Lato,Helvetica,sans-serif;
    color: #eee;
}

.info-detail div span {
    margin: 0px 5px;
    list-style: none;
}

.year-tag {
    background-color: #f88529;
    border: 1px solid;
    border-color: #faa15a;
    padding: 2px 20px 3px 20px;
    border-radius: 10px;
    color: #222;
}

.genre-tag {
    background-color: #2ba8e2;
    border: 1px solid;
    border-color: #58bae8;
    padding: 2px 20px 3px 20px;
    border-radius: 10px;
    color: #222;
}

.name-tag {
    background-color: #e9ca65;
    border: 1px solid;
    border-color: #efd992;
    padding: 2px 20px 3px 20px;
    border-radius: 50px;
    color: #222;
}

.item-name {
    float: left;
    font-size: 30px;
    color: white;
    height: 60px;
    
    line-height: 60px;
}

.item {
    overflow: hidden;
    margin-bottom: 20px;
}


.evn-prec {
    float: right;
    height: 60px;
    line-height: 60px;
    width: 70%;
    padding: 0 20px;
}

.custom-progress {
    clear: both;
    margin-bottom: 0;
}

.item-prec {
    float: right;
    font-size: 30px;
    color: white;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}

.movie-box {
    float: left;
    width: 120px;
    height: 210px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
}

.movie-box img {
    width: 120px;
    height: 180px;
    border-radius: 5px;
}

.preview_div {
    width: 100%;
}

.moving {

    position: relative;
    /*/*left: 100px;*/
    float: left;
}

.wave_area {
    width: 100%;
    height: 300px;
    margin: 0px auto;
    padding: 0px;
    /*border: 1px solid #aaaaaa;*/

}
