{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="{% static 'recommender/js/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'recommender/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recommender/css/base.css' %}">
    <script src="{% static 'recommender/js/bootstrap.min.js' %}"></script>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Recommender</a></li> -->
        </ul>
        <ul class="navbar-right">
            <li>
                <a href="{% url 'index' %}">
                    <div id="logo">
                        <img src="{% static 'recommender/images/Logo.PNG' %}">
                    </div>
                </a>
            </li>
        </ul>
    </nav>


    <div class="container main-box">
        <div class="jumbotron">
            <h1>Recommender System</h1>
            <form action="/recommend/" method="get">
                <div class="submit-area">
                    <div class="input-area">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <input type="text" name="inputMovies" placeholder="Input IMDB ids">
                    </div>
                    <div class="button-area">
                        <button type="submit">SUBMIT</button>
                        <!-- <input type="submit" value="Submit"> -->
                    </div>
                </div>
            </form>
            <div class="result-box">
                <div class="user-input-poster">
                    {% for img_name in movies_to_show.input_movie_list %}
                    <div class="poster-box">
                        <img src="{% static 'recommender/images/posters/' %}{{ img_name }}.jpg">
                        {{ img_name }}
                    </div>
                    {% endfor %}
                </div>
                <div class="final-recommender">
                    {% for img_name in movies_to_show.recommend_moive_list %}
                    <div class="poster-box">
                        <img src="{% static 'recommender/images/posters/' %}{{ img_name }}.jpg">
                        {{ img_name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>


















