{% extends 'base.html' %}
{% load staticfiles %}


{% block headpart %}
    <link rel="stylesheet" type="text/css" href="{% static 'moviedetail/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'moviedetail/css/circledata.css' %}">
    <script src="{% static 'moviedetail/js/index.js' %}"></script>
    <script src="{% static 'moviedetail/layer/layer.js' %}"></script>
    <script src="{% static 'moviedetail/js/circledata.js' %}"></script>
    <title>Movie recommender</title>
{% endblock %}



{% block featurepage %}
<div class="container main-box">

    <div class="feature-block">
        <div class="poster">
            <img src="{% static 'moviedetail/images/tt2637276.jpg' %}">
        </div>
        <div class="info-detail">
            <h1>Ted 2</h1>
            <div>
                Released<span class="year-tag">2014</span>
                Genres<span class="genre-tag">Genre1</span><span class="genre-tag">Genre2</span>
            </div>
        </div>
    </div>

    <div class="feature-block">
        <div class="item">
            <div class="item-name"><span class="name-tag">Darkness</span></div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">49%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">75%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">39%</span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-name"><span class="name-tag">Contrast</span></div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">49%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">75%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">39%</span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-name"><span class="name-tag">Conversation</span></div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">49%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">75%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">39%</span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-name"><span class="name-tag">Speed</span></div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">49%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">75%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">39%</span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-name"><span class="name-tag">RGB</span></div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">49%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">75%</span>
                </div>
            </div>
            <div id="activeBorder" class="active-border">
                <div class="circle">
                    <span class="prec">39%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-block">
        <div class="item">
            <div class="item-name"><span class="name-tag">Jungle</span></div>
            <div class="item-prec">90%</div>
            <div class="evn-prec">
                <div style="height: 50%; margin-bottom: -10px;"></div>   <!--used to make progress in the vertical middle-->
                <div class="progress progress-striped custom-progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-name"><span class="name-tag">Ocean</span></div>
            <div class="item-prec">70%</div>
            <div class="evn-prec">
                <div style="height: 50%; margin-bottom: -10px;"></div>   <!--used to make progress in the vertical middle-->
                <div class="progress progress-striped custom-progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="feature-block">
        <div id="fingerprint">
            <img src="{% static 'moviedetail/images/fingerprint_feature.png' %}">
        </div>
    </div>
</div>
{% endblock %}