body {
    background-color: black
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #032339
}

.main-box {
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 500px;
    padding: 30px 0 0;
    border-radius: 30px;
    background-color: #032339
}

.jumbotron {
    padding-top: 20px;
    background-color: transparent;
    color: white
}

#logo {
    position: relative;
    top: 5px;
    border-radius: 15px;
    height: 42px;
    width: 180px;
    text-align: center;
    line-height: 42px;
    background-color: #123E5C
}

h1 {
    margin-bottom: 70px
}

.submit-area {
    overflow: hidden;
    width: 1050px
}

.submit-area div.input-area {
    float: left;
    width: 850px;
    height: 43px;
    border-radius: 10px;
    padding: 8px 0;
    background-color: white
}

.submit-area div.input-area input {
    height: 27px;
    width: 800px;
    color: black;
    border: none;
    font-size: 1.2em;
    font-family: Lato;
    outline: 0
}

.rc-num-area {
    float: left;
    width: 50px;
    height: 43px;
    background-color: white;
    border-radius: 10px;
    padding: 8px 5px 8px 5px;
    margin-left: 10px
}

.rc-num-area input {
    width: 100%;
    border: none;
    font-size: 1.2em;
    font-family: Lato;
    color: black;
    outline: 0
}

.submit-area div.button-area {
    float: right;
    background-color: #123E5C;
    border-radius: 15px;
    height: 43px;
    width: 130px;
    text-align: center;
    line-height: 42px;
    top: 5px
}

.submit-area div.button-area button {
    background-color: transparent;
    border: none;
    height: 43px;
    width: 130px;
    font-family: Lato;
    font-size: 25px
}

.result-box {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden
}

.user-input-poster {
    overflow: hidden;
    margin-bottom: 20px
}

.poster-box {
    float: left;
    width: 120px;
    height: 210px;
    text-align: center;
    margin-right: 5px
}

.poster-box img {
    width: 120px;
    height: 180px;
    border-radius: 5px
}

.final-recommender {
    overflow: hidden
}

.section-title {
    text-align: center;
    padding: 20px 0 20px 0
}

.search-icon {
    color: black;
    margin: 0 10px 0 10px
}