.droptarget {
    float: middle; 
    width: 240px  ;
    height: 160px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.wave_area {
    /*float: middle; */
    width: 1200px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #aaaaaa;

}

#dragtarget img {
    width: 150px;
    height: 200px;
}

#preview_div {
    display: none; 
    position: absolute; 
    z-index: 110px; 
    left: 400px; 
    top: 500px; 
    width: 30px; 
    height: 15px;
}

.item {
    position: relative;
    /*left: 100px;*/
    float: left;
}