.main-box {
    width: 1280px;
    margin-top: 100px;
}

.dragtarget img {
    width: 150px;
    height: 200px;
}

.droptarget {
    text-align: center;
    width: 300px;
    height: 180px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.btn-area {
    text-align: center;
    margin-bottom: 50px;
}

.wave_area {
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    padding: 0px;
    /*border: 1px solid #aaaaaa;*/

}

#preview_div {
    display: none; 
    position: absolute; 
    z-index: 110px; 
    left: 400px; 
    top: 500px; 
    width: 30px; 
    height: 15px;
}

.moving {
    position: relative;
    /*/*left: 100px;*/
    float: left;
}