{% extends 'base.html' %}
{% load staticfiles %}


{% block headpart %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommender/css/base.css' %}">
    <script src="{% static 'recommender/js/base.js' %}"></script>
    <title>Movie recommender</title>
{% endblock %}



{% block featurepage %}
<div class="container main-box">
        <div class="jumbotron">
            <h1>Recommender System</h1>
            <form action="/recommender/recommend/" method="get">
                <div class="submit-area">
                    <div class="input-area">
                        <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
                        <input type="text" name="inputMovies" placeholder="Input IMDB ids">
                    </div>
                    <div class="rc-num-area">
                        <input type="text" name="recommendNum" value='10'>
                    </div>
                    <div class="button-area">
                        <button id="submitBtn" type="submit">SUBMIT</button>
                        <!-- <input type="submit" value="Submit"> -->
                    </div>
                </div>
            </form>

            {% if movies_to_show %}
                <div class="result-box">
                    <div class="user-input-poster">
                        <div class="section-title"><h2>User Like Movies</h2></div>
                        {% for img_name in movies_to_show.input_movie_list %}
                        <div class="poster-box">
                            <img src="{% static 'recommender/images/posters/' %}{{ img_name }}.jpg">
                            <a href="http://www.imdb.com/title/{{ img_name }}" target="blank">{{ img_name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="final-recommender">
                        <div class="section-title"><h2>Final Recommended Movies</h2></div>
                        {% for img_name, score in movies_to_show.recommendmovie_score_dict %}
                        <div class="poster-box">
                            <img src="{% static 'recommender/images/posters/' %}{{ img_name }}.jpg">
                            <a href="http://www.imdb.com/title/{{ img_name }}" target="blank">{{ img_name }}</a>
                            <br>
                            <label>{{ score }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}

            {% endif %}
        </div>
    </div>
{% endblock %}























